.progress{
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
}
.progress .progress_left{
    position: relative;
    right: -3px;
    transform-origin: center center;
    transform: rotate(-18deg);
    animation: RotateLeft 4s linear infinite reverse;
}
.progress .progress_right{
    transform-origin: center center;
    animation: RotateRight 4s linear infinite;
}
@keyframes RotateLeft {
    from{transform: rotate(-18deg)}
    to{transform: rotate(342deg)}
}
@keyframes RotateRight {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
.progress span{
    margin-top: 20px;
    font-weight: 600;
}