section.cards{
    align-self: flex-end;
}
section.cards .container{
    max-width: unset;
    padding: 0 5%;
}
section.cards .container hr{
    margin-bottom: 45px;
}
.cards_content__tittle h2{
    font-weight: 600;
    font-size: 40px;
}
.cards_content{
    display: flex;
    flex-direction: column;
}
.cards_content__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.cards_content__description h4{
    margin: 30px 0;
    font-size: 25px;
}
.cards_content__description .description-rotate{
    margin-bottom: 50px;
}
.cards_content__description .get-access{
    padding: 15px 20px;
    border-radius: 20px;
    border: 2px solid #ea8823;
    width: fit-content;
    animation: Blink 1s infinite alternate;
}
@keyframes Blink {
    from{background-color: white;}
    to{background-color: #ea8823;}
}
.cards_content__main h4{
    line-height: 130%;
    font-size: 30px;
    margin-bottom: 100px;
}
.cards_content__main__cards{
    display: flex;
    justify-content: space-evenly;
}
.card{
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}
.card .card_img-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}
.card .card_img-holder .card-3d{
    width: 100%;
    position: relative;
    transform-origin: center center -80px;
    transform-style: preserve-3d;
}
.card .card_img-holder span{
    background-color: #ebedec;
    display: block;
    position: absolute;
    pointer-events: none;
}
.left{
    width: 100px;
    height: 100%;
    left: 0;
    top: 0;
    transform-origin: left center;
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
}
.right{
    top: 0;
    width: 100px;
    height: 100%;
    right: 0;
    transform-origin: right center;
    transform: rotateY(-90deg);
    -webkit-transform: rotateY(-90deg);
}
.top{
    top: 0;
    height: 100px;
    width: 100%;
    transform-origin: top center;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
}
.bottom{
    bottom: 0;
    height: 100px;
    width: 100%;
    transform-origin: bottom center;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
}
.back{
    width: 100%;
    height: 100%;
    top: 0;
    transform-origin: center center;
    transform: rotateX(-180deg) translateZ(100px);
    -webkit-transform:translateZ(-100px);
    -webkit-box-shadow: 0 0 44px 19px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 0 0 44px 19px rgba(0, 0, 0, 0.50);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.50);
}

.card .card_img-holder:hover:before{
    opacity: 1;
}
.card .card_img-holder img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.card_name{
    margin: 40px 0 15px;
    font-weight: 600;
}
.card p{
    line-height: 140%;
}
