.background{
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-transform: translate3d(0,0,0)
}
.background .circle-holder{
    position: absolute;
}
.background span{
    position: relative;
    display: block;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px;
    opacity: 0;
}