.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
    -webkit-transform: translate3d(0,0,0)
}
.background span{
    display: block;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px;
}